<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
</head>
<body ng-app="mealPlannerApp">
<div class="container" ng-controller="WeekMenuController">
    <div class="page-header">
        <h1>A week menu</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="weekMenus && weekMenus.length > 0">
        There are no week menu yet.
    </div>
    <form class="form-horizontal" role="form" ng-submit="addWeekMenu(newWeekMenu)">
        <div class="form-group" ng-repeat="weekMenu in weekMenus">
            <!--<div class="checkbox col-xs-9">-->
                <!--<label>-->
                    <!--<input type="checkbox" ng-model="item.checked" ng-change="updateItem(weekMenu)"/> {{item.description}}-->
                <!--</label>-->
            <!--</div>-->
            {{weekMenu.id}}
            {{ weekMenu.startDate | date:'dd-MM-yyyy' }}
            {{ weekMenu.endDate | date:'dd-MM-yyyy' }}
            <div class="col-xs-3">
                <button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteWeekMenu(weekMenu)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
        <hr />
        <div class="input-group">
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select" id="dLabelStart" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-append"><input type="text" class="input-large" data-ng-model="newWeekMenu.startDate"><span class="add-on"><i
                            class="icon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabelStart">
                    <datetimepicker data-ng-model="newWeekMenu.startDate"
                                    data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minView: 'day' }"></datetimepicker>
                </ul>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle my-toggle-select" id="dLabelEnd" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-append"><input type="text" class="input-large" data-ng-model="newWeekMenu.endDate"><span class="add-on"><i
                            class="icon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabelEnd">
                    <datetimepicker data-ng-model="newWeekMenu.endDate"
                                    data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minView: 'day' }"></datetimepicker>
                </ul>
            </div>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-disabled="!newWeekMenu" title="Add">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
    </form>

</div>
<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>
<script type="text/javascript" src="./app/services.js"></script>