<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="mealPlannerApp">
<div class="container" ng-controller="WeekMenuController">
    <div class="page-header">
        <h1>A week menu</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="weekMenus && weekMenus.length > 0">
        There are no week menu yet.
    </div>
    <form class="form-horizontal" role="form" ng-submit="addWeekMenu(newWeekMenu)">
        <div class="form-group" ng-repeat="weekMenu in weekMenus">
            <!--<div class="checkbox col-xs-9">-->
                <!--<label>-->
                    <!--<input type="checkbox" ng-model="item.checked" ng-change="updateItem(weekMenu)"/> {{item.description}}-->
                <!--</label>-->
            <!--</div>-->
            {{weekMenu.id}} - {{weekMenu.startDate}} - {{weekMenu.endDate}}
            <div class="col-xs-3">
                <button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteWeekMenu(weekMenu)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
        <hr />
        <div class="input-group">
          <input type="text" name="startDate" ng-model="newWeekMenu.startDate" class="form-control" placeholder="Enter start date..." />
          <input type="text" name="endDate" ng-model="newWeekMenu.endDate" class="form-control" placeholder="Enter end date..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newWeekMenu" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
    </form>

</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/lodash.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>
<script type="text/javascript" src="./app/services.js"></script>